set vb t_vb=

"--------------------------------------------
"編集
"--------------------------------------------

" 文字コードをutf-8に
set encoding=utf-8
set fileencodings=utf-8,iso-2022-jp,euc-jp,sjis
set fileformats=unix,dos,mac

set backspace=indent,eol,start " BSを空白、行末、行頭でも使えるようにする
set matchpairs& matchpairs+=<:> " 対応括弧に'<'と'>'のペアを追加
autocmd BufWritePre * :%s/\s\+$//ge "保存時に行末の空白を削除

" タブ幅の設定
set tabstop=4
set expandtab
set shiftwidth=4

set nowritebackup " バックアップファイル(書き込み後も保存される)を作らない
set nobackup " バックアップファイル(書き込み後に削除される)を作らない
set noswapfile "swpファイルを作らない

set clipboard+=unnamedplus " clipboard


"--------------------------------------------
"表示
"--------------------------------------------

set laststatus=2 "最下窓に常にステータス行を表示
set nowrap " 右端で折り返さない

" 不可視文字の表示
set list
set listchars=tab:>-,trail:-,precedes:«,extends:» ",eol:↲

" 全角スペースの表示
function! ZenkakuSpace()
    highlight ZenkakuSpace cterm=underline ctermfg=lightblue guibg=darkgray
endfunction

if has('syntax')
    augroup ZenkakuSpace
        autocmd!
        autocmd ColorScheme * call ZenkakuSpace()
        autocmd VimEnter,WinEnter,BufRead * let w:m1=matchadd('ZenkakuSpace', '　')
    augroup END
    call ZenkakuSpace()
endif

" 改行時の自動インデント
" これをするとクリップボードからの貼り付けが変になるので、:set pasteしてから貼り付ける
set smartindent
set autoindent

set scrolloff=4 " 上下4行の視界を確保
set sidescrolloff=2 " 左右スクロール時の視界を確保
set sidescroll=1 "左右スクロールは一文字ずつ行う

"新しいwindowを下/右に開く
set splitbelow
set splitright

"--------------------------------------------
"検索
"--------------------------------------------

set ignorecase " 検索するときに大文字小文字を区別しない
set smartcase " 小文字で検索すると大文字と小文字を無視して検索
set wrapscan " 検索がファイル末尾まで進んだら、ファイル先頭から再び検索
set incsearch " インクリメンタル検索 (検索ワードの最初の文字を入力した時点で検索が開始)
set hlsearch " 検索結果をハイライト表示

"--------------------------------------------
"キーマップ
"--------------------------------------------

" ESC二回でハイライト消去
nnoremap <Esc><Esc> :nohlsearch<CR><ESC>

" Shift + 矢印でウィンドウサイズを変更
nnoremap <S-Left>  <C-w><<CR>
nnoremap <S-Right> <C-w>><CR>
nnoremap <S-Up>    <C-w>-<CR>
nnoremap <S-Down>  <C-w>+<CR>

nnoremap ; :
vnoremap ; :

nunmap <C-b>

" タブ移動
nnoremap gl gt
nnoremap gh gT
